@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background: white;
    color: #44bb53;
    font-family: "Montserrat", sans-serif;
}

.buttons1, .buttons2{
    display: flex;
}

button {
    border: none;
    background: none;
    transition: 0.4s;
    color: #44bb53;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}

button:hover {
	color: #205827;
	box-shadow: inset 0 0 0 3px #205827;
}

.main{
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    height: 90vh;
    display: flex;
}

.title{
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
}

.title > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > p{
    font-family: "Montserrat", sans-serif;
    align-items: center;
}

svg{
    justify-content: center;
    color: #44bb53;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #44bb53;
    background: white;
    height: 10vh;
}

.menu-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    background: white;
    color: black;
} 

.menu-element > div{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    object-fit: cover;
}

img{
    height: 60vh;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.mapholder, .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}
