*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
}

.button-container{
    display: flex;
    flex-direction: row;
    background: red;
}

.main{
    padding-top: 10vh;
    height: 90vh;
    overflow-x: hidden;
    display: flex;
}

.main > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

img{
    width: auto;
    height: 80vh;
    object-fit: cover;
    border-radius: 50px;
}

.mapholder {
    display: flex;
    justify-content: center;
    align-items: center;
}