*{
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 3;
    position: fixed;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(2,6,4,1) 15%, rgba(0,0,0,0.6012605725884104) 62%, rgba(53,196,120,0) 100%);
    color: white;
}

header > h1{
    margin-left: 20px;
    grid-column: 0 / 1;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-column: 2 / 3;
}

button {
    border: none;
    background: none;
    transition: 0.4s;
    color: white;
    padding: 10px;
}

button:hover {
    outline: 1px solid white; /* Green */
    color: white;
}

.main{
    padding-top: 10vh;
    height: 90vh;
    overflow-x: hidden;
    display: flex;
}

.main > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

img{
    width: auto;
    height: 80vh;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 14px;
    box-shadow: inset 0px 0px 100px rgba(0,0,0,0.9);
}

.mapholder {
    display: flex;
    justify-content: center;
    align-items: center;
}